<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - ETL

Estimated time needed: **20** minutes

## Objectives

In this final part you will:

-   Run the ETL process
-   Extract bank and market cap data from the JSON file `bank_market_cap.json`
-   Transform the market cap currency using the exchange rate data
-   Load the transformed data into a seperate CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!pip install glob
#!pip install pandas
#!pip install requests
#!pip install datetime

## Imports

Import any additional libraries you may need here.

In [2]:
import glob
import pandas as pd
from datetime import datetime

As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section

In [3]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

--2021-01-28 11:19:38--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 198.23.119.245
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|198.23.119.245|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2815 (2.7K) [application/json]
Saving to: ‘bank_market_cap_1.json’

bank_market_cap_1.j 100%[===================>]   2.75K  --.-KB/s    in 0s

2021-01-28 11:19:38 (35.8 MB/s) - ‘bank_market_cap_1.json’ saved [2815/2815]

--2021-01-28 11:19:39--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 198.23.119.245
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|198.23.119.245|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1429 (1.4K) [application/json]
Saving to: ‘bank_market_cap_2.json’

bank_market_cap_2.j 100%[===================>]   1.40K  --.-KB/s    in 0s

2021-01-28 11:19:39 (19.7 MB/s) - ‘bank_market_cap_2.json’ saved [1429/1429]

--2021-01-28 11:19:40--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 198.23.119.245
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|198.23.119.245|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 590 [text/csv]
Saving to: ‘exchange_rates.csv’

exchange_rates.csv  100%[===================>]     590  --.-KB/s    in 0s

2021-01-28 11:19:40 (8.80 MB/s) - ‘exchange_rates.csv’ saved [590/590]

## Extract

### JSON Extract Function

this function will extracts JSON files.

In [4]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

### Extract Function

Write the extract function that finds JSON files and calls the function created above to extract data from them. Store the data in a `pandas` dataframe. Use the following list for the columns.

In [5]:
columns=['Name','Market Cap (US$ Billion)']

In [49]:
def extract():
    extracted_data = pd.DataFrame(columns=columns) # create an empty data frame to hold extracted data
    
    
        
    #process all json files
    for jsonfile in glob.glob("*.json"):
        extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)
    

   
        
    return extracted_data

NameError: name 'extracted_data' is not defined

## Logging Function

write the logging function <code>log</code> to log your data:

In [50]:
def log(message):
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')

In [32]:
log("Extract phase Started")
extracted_data = extract()
log("Extract phase Ended")
extracted_data

                                        Name  Market Cap (US$ Billion)
0                             JPMorgan Chase                   390.934
1    Industrial and Commercial Bank of China                   345.214
2                            Bank of America                   325.331
3                                Wells Fargo                   308.013
4                    China Construction Bank                   257.399
..                                       ...                       ...
100                             Ping An Bank                    37.993
101                       Standard Chartered                    37.319
102                     United Overseas Bank                    35.128
103                                QNB Group                    33.560
104                              Bank Rakyat                    33.081

[105 rows x 2 columns]

<b>Question 1</b> load the file <code>'exchange_rates.csv'</code> find the exchange rate for  British pounds with the symbol <code>GBP</code>, store it in the variable  <code>exchange_rate</code>, your. will be asked for the number( hint: set the parameter  <code>index_col</code> to 0)

In [33]:
df=pd.read_csv('exchange_rates.csv')

In [34]:
df.head()
df.rename(columns={'Unnamed: 0':'Currency'},inplace=True)

In [35]:
df.head()
exchange_rate= df[df['Currency']=='GBP']
exchange_rate

  Currency     Rates
9      GBP  0.732398

## Transform

Using <code>exchange_rate</code> the `exchange_rates.csv` file find the exchange rate USD to GBP. Write a transform function that

1.  Changes the `Market Cap (US$ Billion)` column from USD to GBP
2.  Rounds the Market Cap (US$ Billion)` column to 3 decimal places
3.  Rename `Market Cap (US$ Billion)` to `Market Cap (GBP$ Billion)`

In [36]:
def transform(data):
        #Convert height which is in inches to millimeter
        #Convert the datatype of the column into float
        #data.height = data.height.astype(float)
        #Convert inches to meters and round off to two decimals(one inch is 0.0254 meters)
        data['Market Cap (US$ Billion)'] = round(data['Market Cap (US$ Billion)'] * 0.732398,3)
        
        #Convert weight which is in pounds to kilograms
        #Convert the datatype of the column into float
        #data.weight = data.weight.astype(float)
        #Convert pounds to kilograms and round off to two decimals(one pound is 0.45359237 kilograms)
        data.rename(columns={'Market Cap (US$ Billion)':'Market Cap (GBP$ Billion)'})
        return data

In [37]:
transformed_data = transform(extracted_data)

In [38]:
transformed_data.head()

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   286.319
1  Industrial and Commercial Bank of China                   252.834
2                          Bank of America                   238.272
3                              Wells Fargo                   225.588
4                  China Construction Bank                   188.519

## Load

Create a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`. Make sure to set `index` to `False`.

In [ ]:
def load(targetfile,data_to_load):
    data_to_load.to_csv(targetfile,index=False)

In [28]:
targetfile='bank_market_cap_gbp.csv'
load(targetfile,transformed_data)

In [51]:
import os

 

directory = os.getcwd()
html_path = directory + "/" + "logfile.txt"
html_path

'/home/wsuser/work/logfile.txt'

In [53]:
f=open(file=html_path,mode='r')
f.read()

'2021-Jan-28-11:34:22,Extract phase Started\n2021-Jan-28-11:34:22,Extract phase Ended\n2021-Jan-28-11:39:17,Extract phase Started\n2021-Jan-28-11:39:17,Extract phase Ended\n2021-Jan-28-11:40:56,Extract phase Started\n2021-Jan-28-11:56:42,ETL Job Started\n2021-Jan-28-11:56:42,Extract phase Started\n2021-Jan-28-11:57:25,Extract phase Started\n2021-Jan-28-11:57:25,Extract phase Ended\n2021-Jan-28-11:57:41,ETL Job Started\n2021-Jan-28-11:57:41,Extract phase Started\n2021-Jan-28-11:57:41,Extract phase Ended\n2021-Jan-28-11:57:41,Transform phase Started\n2021-Jan-28-11:57:41,Transform phase Ended\n2021-Jan-28-11:57:41,Load phase Started\n2021-Jan-28-12:02:03,ETL Job Started\n2021-Jan-28-12:02:03,Extract phase Started\n2021-Jan-28-12:02:03,Extract phase Ended\n2021-Jan-28-12:02:03,Transform phase Started\n2021-Jan-28-12:02:03,Transform phase Ended\n2021-Jan-28-12:02:03,Load phase Started\n2021-Jan-28-12:02:41,ETL Job Started\n2021-Jan-28-12:02:41,Extract phase Started\n2021-Jan-28-12:02:41,Extract phase Ended\n2021-Jan-28-12:02:41,Transform phase Started\n2021-Jan-28-12:02:41,Transform phase Ended\n2021-Jan-28-12:02:41,Load phase Started\n2021-Jan-28-12:02:41,Load phase Ended\n2021-Jan-28-12:02:41,ETL Job Ended\n2021-Jan-28-12:05:11,Extract phase Ended\n2021-Jan-28-12:08:14,Transform phase Started\n2021-Jan-28-12:10:42,Transform phase Ended\n2021-Jan-28-12:11:02,Load phase Started\n2021-Jan-28-12:11:02,Load phase Ended\n'

## Extracted data using the function <code>extract()</code>

Log the process accordingly using the following  <code>"ETL Job Started"</code> and <code>"Extract phase Started"</code>

In [41]:
targetfile='bank_market_cap_gbp.csv'
log("ETL Job Started")

log("Extract phase Started")
extracted_data = extract()
log("Extract phase Ended")

log("Transform phase Started")
transformed_data = transform(extracted_data)
log("Transform phase Ended")

log("Load phase Started")
load(targetfile,transformed_data)
log("Load phase Ended")

log("ETL Job Ended")

<code>Question 2</code> use the function <code> extract()</code>, and print the first 5 rows, take a screen shot:

In [43]:
extracted_data = extract()
extracted_data.head()

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

log the data as <code>"Extract phase Ended" </code>

In [44]:
log("Extract phase Ended")

log the folloowing  <code>"Transform phase Started"</code>

In [45]:
log("Transform phase Started")

<code>Question 3</code> use the function <code> transform()</code> and print the first 5 rows of the output, take a screen shot:

In [46]:
transformed_data.head()

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   286.319
1  Industrial and Commercial Bank of China                   252.834
2                          Bank of America                   238.272
3                              Wells Fargo                   225.588
4                  China Construction Bank                   188.519

log your data <code>"Transform phase Ended"</code>

In [47]:
log("Transform phase Ended")

## Lode the data

load the data log the following  <code>"Load phase Started"</code>  and <code>"Load phase Ended"</code>

In [48]:

# Call the Load function
log("Load phase Started")
load(targetfile,transformed_data)
log("Load phase Ended")

## Authors

Ramesh Sannareddy, Joseph Santrcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork-23455645&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork-23455645&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).